.list-header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .list-content {
    width: 50%;
  }
  
  .list-content:first-child {
    border-right:1px solid gray;
  }
  
  .list {
    padding: 30px;
    height: 89%;
    overflow: auto;
    font-size: 20px;
  }

  .list ul {
    list-style-type: none;
  }